name: publish

on:
  workflow_dispatch:
    inputs:
      release-version:
        description: '입력한 버전과 build.gradle 에 명시된 버전이 일치해야 배포됩니다.'
        default: ""
        required: true

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Extract version
        id: extract-version
        run: |
          VERSION=$(grep -oP 'version = "\K(.*?)(?=")' build.gradle.kts)
          echo "::set-output name=version::$VERSION"
      - name: Create Tag and Release
        if: ${{ github.event.inputs.release-version == steps.extract-version.outputs.version }}
        id: create-release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.DISDONG_TOKEN }}
        with:
          tag_name: v${{ steps.extract-version.outputs.version }}
          release_name: Release v${{ steps.extract-version.outputs.version }}
          draft: false
          prerelease: false
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: 'gradle'
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
      - name: Build with Gradle
        env:
          DISDONG_USERNAME: ${{ secrets.DISDONG_USERNAME }}
          DISDONG_TOKEN: ${{ secrets.DISDONG_TOKEN }}
        run: ./gradlew publish