name: publish

on:
  push:
    branches:
      - main

jobs:
  ci:
    runs-on: ubuntu-20.04

    #
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: 'gradle'

      #
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      #
      - name: Build with Gradle
        env:
          DISDONG_USERNAME: ${{ secrets.DISDONG_USERNAME }}
          DISDONG_TOKEN: ${{ secrets.DISDONG_TOKEN }}
        run: ./gradlew publish